__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

data/raw/
data/processed/
*.csv
# ignore Mac system files
.DS_Store

# ignore datasets
data/

# (optional but fine)
*.csv
data/merged/merged_dataset.csv
data/merged/merged_dataset_aggregated.csv
data/merged/merged_dataset_detailed.csv
data/ml_datasets/*.csv
!data/
!data/ml_datasets/
!data/ml_datasets/*.zip
!data/merged/
!data/merged/*.zip
.streamlit/secrets.toml
.env
